<div class="produto-form">

  <h1><%= @produto.new_record? ? "Novo Produto" : "Editar Produto" %></h1>

  <%= form_with(model: produto) do |form| %>

    <% if produto.errors.any? %>
    <div style="color: red">
    <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>
    
    <ul>
    <% produto.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>

      </div>

    <% end %>

    <div class="form-group">
      <%= form.label :nome %>
      <%= form.text_field :nome, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :descricao %>
      <%= form.text_area :descricao, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :preco %>
      <%= form.text_field :preco, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit "Salvar", class: "btn-show" %>
    </div>

  <% end %>
  
</div>