<h1>Catálogo de Produtos</h1>

<p style="color: green"><%= notice %></p>

<%= render @produto %>

<div class="produto-actions">

  <%= link_to "Alterar", edit_produto_path(@produto), class: "btn-show" %>
  <%= button_to "Excluir", @produto, method: :delete, class: "btn-show" %>
  <%= link_to "Voltar", produtos_path, class: "btn-show" %>

</div>